.jay-jay-banner-container {
  text-decoration: none;
}
.jay-jay-banner-image768 {
  display: none;
}
.jay-jay-banner-image320 {
  display: none;
}
@media(max-width: 1024px) {
  .jay-jay-banner-image1024 {
    display: none;
  }
  .jay-jay-banner-image768 {
    display: flex;
  }
}
@media(max-width: 480px) {
  .jay-jay-banner-container {
    width: 479px;
  }
  .jay-jay-banner-image768 {
    display: none;
  }
  .jay-jay-banner-image320 {
    display: flex;
  }
}
